/* header {
display: flex;
background-color: #334155;
display: block;
height: 48px;
margin-bottom: 48px;
padding: 8px 16px;
font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 600px;
}

input {
    background-color: #F1F5F9;
    border: none;
    border-radius: 8px;
    display: block;
    height: 48px;
    padding: 8px 16px;
    font-size: 16px;
}

input[type=submit] {
    background-color: #334155;
    border: none;
    border-radius: 8px;
    display: block;
    height: 56px;
    padding: 8px 16px;
    font-size: 16px;
    color: #F8FAFC;
} */



